@import './vars.scss';

@media only screen and (min-width: 900px) {
    body {
        font-size: 135%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        border-radius: 5px;

        width: 90%;
        min-width: 900px;
        max-width: 1500px;

        height: 90%;
        min-height: 600px;

        display: flex;
    }

    .wrapper nav {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        #menu-title {
            display: none;
        }

        ul {
            flex-grow: 1;

            li {
                padding: 20px;
            }
        }

        #theme-switcher {
            flex-grow: 0;
            padding: 20px;
            cursor: pointer;

            &:active {
                background-color: red;
            }
        }
    }


    .light-mode .wrapper {
        background-color: $lm-background;
        border: $lm-border;
        box-shadow: $lm-shadow;

        nav {
            background-color: $lm-background-highlight;

            ul li {
                border-bottom: $lm-button-border;
            }

            #theme-switcher {
                border-top: $lm-button-border;

                span {
                    display: none;
                }
            }

            #theme-switcher:after {
                content: 'Solarized light 🌞️';
            }
        }
    }

    .dark-mode .wrapper {
        background-color: $dm-background;
        border: $dm-border;
        box-shadow: $dm-shadow;

        nav {
            background-color: $dm-background-highlight;

            ul li {
                border-bottom: $dm-button-border;
            }

            #theme-switcher {
                border-top: $dm-button-border;

                span {
                    display: none;
                }
            }

            #theme-switcher:after {
                content: 'Solarized dark 🌛️'
            }
        }
    }
}
