// desktop specific styles

@import './vars.scss';

@media only screen and (min-width: 900px) {

    // universal styles
    body {
        font-size: 135%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        border-radius: 5px;

        width: 90%;
        min-width: 900px;
        max-width: 1500px;

        height: 90%;
        min-height: 600px;

        display: flex;
    }

    .wrapper nav {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        #menu-title {
            display: none;
        }

        ul {
            flex-grow: 1;

            li {
                padding: 20px;
                cursor: pointer;
            }
        }

        #theme-switcher {
            flex-grow: 0;
            padding: 20px;
            cursor: pointer;

            &:active {
                transform: scale(1.05);
            }
        }
    }

    .wrapper .content {
        width: 75%;
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;

        p {
            margin-bottom: 15px;
        }

        .primary-skill .dev-icon {
            height: $primary-skill-icon-size;
            width: $primary-skill-icon-size;

            i {
                font-size: $primary-skill-icon-size;
            }
        }
    }

    .wrapper a {
        font-size: 90%;
    }

    #profile-picture {
        height: 260px;
        width: 260px;
        margin: 0 10px 10px 0;
        float: left;
    }

    .contact-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        li {
            margin-right: 30px;
        }
    }

    .h-divider {
        width: 100%;
        border-bottom: 3px solid black;
        margin-bottom: 10px;
    }

    .primary-skills {
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
    }

    .primary-skill p {
        text-align: center;
    }

    .skills {
        margin-bottom: 20px;
    }

    .skills ul {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 150px;
        align-content: space-around;
    }

    .dev-icon {
        margin: 0 auto;
    }

    // light mode specific styles
    .light-mode .wrapper {
        background-color: $lm-background;
        border: $lm-border;
        box-shadow: $lm-shadow;

        a {
            color: $cyan;

            &:hover,
            &:active {
                color: $yellow;
                border-bottom: 3px solid $cyan;
            }
        }

        nav {
            background-color: $lm-background-highlight;

            ul li {
                border-bottom: $lm-button-border;
            }

            #theme-switcher {
                border-top: $lm-button-border;
                background-color: $lm-background;

                span {
                    display: none;
                }

                &:active {
                    box-shadow: $lm-shadow;
                }
            }

            #theme-switcher:after {
                content: 'Light theme 🌞️';
            }
        }

        .content {
            border-left: $lm-button-border;
        }

        .selected-button {
            background-color: $lm-background;
            transform-origin: right;
            transform: scale(1.03);
            border-radius: 3px;
            box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.4);

            border-bottom: 3px solid $cyan;
        }

        .h-divider {
            border-bottom-color: $cyan;
        }
    }

    // dark mode specific styles
    .dark-mode .wrapper {
        background-color: $dm-background;
        border: $dm-border;
        box-shadow: $dm-shadow;

        a {
            color: $yellow;

            &:hover,
            &:active {
                color: $red;
                border-bottom: 3px solid $yellow;
            }
        }

        nav {
            background-color: $dm-background-highlight;

            ul li {
                border-bottom: $dm-button-border;
            }

            #theme-switcher {
                border-top: $dm-button-border;
                background-color: $dm-background;

                span {
                    display: none;
                }

                &:active {
                    box-shadow: $dm-shadow;
                }
            }

            #theme-switcher:after {
                content: 'Dark theme 🌛️'
            }
        }

        .content {
            border-left: $dm-button-border;
        }

        .selected-button {
            background-color: $dm-background;
            transform-origin: right;
            transform: scale(1.03);
            border-radius: 3px;
            box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.4);

            border-bottom: 3px solid $yellow;
        }

        .h-divider {
            border-bottom-color: $yellow;
        }
    }
}
