@import './vars.scss';

body,
ul,
p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    list-style-type: none;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 26px;
}

img {
    width: 100%;
}

nav {
    padding: 18px 0 14px 0;
    text-transform: uppercase;

    ul {
        display: flex;
        justify-content: space-between;
        width: 1080px;
        margin: 0 auto;

        li {
            margin: 0 30px;
            padding-bottom: 5px;
        }

        .selected-nav {
            border-bottom: 3px solid $blue;
        }
    }
}

.body {
    display: flex;
    width: 1080px;
    margin: 32px auto 0 auto;

    .info {
        width: 22%;
        margin-right: 30px;
    }

    .content {
        width: 78%;
    }
}

.dark-mode {
    color: $grey;
    background-color: $black;

    nav {
        background-color: $black2;
    }
}

.light-mode {
    color: $black;
    background-color: $white;

    nav {
        background-color: $white2;
    }
}
