@import './vars.scss';

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dark-mode {
    color: $dm-primary-text;
    background-color: $dm-background-highlight;

    h1 {
        color: $dm-bold-text;
    }
}

.light-mode {
    color: $lm-primary-text;
    background-color: $lm-background-highlight;

    h1 {
        color: $lm-bold-text;
    }
}
