$dm-primary-text: #839496;
$dm-secondary-text: #586e75;
$dm-bold-text: #93a1a1;
$dm-background: #002b36;
$dm-background-highlight: #073642;

$lm-primary-text: #657b83;
$lm-secondary-text: #93a1a1;
$lm-bold-text: #586e75;
$lm-background: #fdf6e3;
$lm-background-highlight: #eee8d5;

$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

$lm-border: 1px solid rgb(216, 216, 216);
$lm-button-border: 1px solid rgb(199, 199, 199);
$lm-shadow: 0px 0px 5px 0px rgb(180, 180, 180);

$dm-border: 1px solid rgb(0, 43, 54);
$dm-button-border: 1px solid rgb(31, 31, 31);
$dm-shadow: 0px 0px 5px 0px rgb(20, 20, 20);
