$red: #e06c75;
$green: #98c379;
$yellow: #e5c07b;
$blue: #61afef;
$purple: #c678dd;
$cyan: #56b6c2;
$black: #282c34;
$black2: #373c48;
$grey: #abb2bf;
$white: #ffffff;
$white2: #e7e9ec;

$highlighter-dark: 3px solid $blue;
$highlighter-light: 3px solid $red;

$border-blend-dark: 1px solid #252931;
$shadow-dark: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);

$border-blend-light: 1px solid #c8c8c8;
$shadow-light: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);

$weak-text-dark: #abb2bfc4;
$weak-text-light: #282c34c9;
